[submodule "lib/Coq-Library-Undecidability-current"]
	path = lib/Coq-Library-Undecidability-current
	url = https://github.com/VladimirReshetnikov/coq-library-undecidability.git
[submodule "lib/FormalizedFormalLogic-Foundation"]
	path = lib/FormalizedFormalLogic-Foundation
	url = https://github.com/VladimirReshetnikov/Foundation.git
[submodule "lib/Coq-Synthetic-Computability"]
	path = lib/Coq-Synthetic-Computability
	url = https://github.com/uds-psl/coq-synthetic-computability.git
